.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;

  @include respond(crwn-800) {
    padding: 0 10px;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}
